<div class="announcement-bar">
  ⚡ ISO 9001 Certified · Factory Direct · 50+ Countries &nbsp;|&nbsp;
  <svg width="12" height="12" viewBox="0 0 24 24" fill="currentColor" style="vertical-align:middle;margin-right:2px;"><path d="M17.472 14.382c-.297-.149-1.758-.867-2.03-.967-.273-.099-.471-.148-.67.15-.197.297-.767.966-.94 1.164-.173.199-.347.223-.644.075-.297-.15-1.255-.463-2.39-1.475-.883-.788-1.48-1.761-1.653-2.059-.173-.297-.018-.458.13-.606.134-.133.298-.347.446-.52.149-.174.198-.298.298-.497.099-.198.05-.371-.025-.52-.075-.149-.669-1.612-.916-2.207-.242-.579-.487-.5-.669-.51-.173-.008-.371-.01-.57-.01-.198 0-.52.074-.792.372-.272.297-1.04 1.016-1.04 2.479 0 1.462 1.065 2.875 1.213 3.074.149.198 2.096 3.2 5.077 4.487.709.306 1.262.489 1.694.625.712.227 1.36.195 1.871.118.571-.085 1.758-.719 2.006-1.413.248-.694.248-1.289.173-1.413-.074-.124-.272-.198-.57-.347z"/><path d="M12 0C5.373 0 0 5.373 0 12c0 2.126.556 4.122 1.526 5.849L.057 23.983l6.268-1.643C7.926 23.412 9.918 24 12 24c6.627 0 12-5.373 12-12S18.627 0 12 0zm0 22c-1.959 0-3.8-.535-5.38-1.467l-.384-.229-3.98 1.044 1.06-3.88-.25-.402C2.006 15.8 1.5 13.963 1.5 12c0-5.799 4.701-10.5 10.5-10.5S22.5 6.201 22.5 12 17.799 22 12 22z"/></svg>
  <a href="https://wa.me/85365978028" style="color:inherit;font-weight:600;">WhatsApp +853 6597 8028</a>
  &nbsp;·&nbsp; Mon–Sun 09:00–18:00 CST
</div>

{% schema %}
{
  "name": "Announcement Bar",
  "settings": []
}
{% endschema %}
